:root {
  --primary-text-color: #fff;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-text-wrapper{
    font-family: "Netflix Sans";
    color: var(--primary-text-color);
    text-align: center;
    max-width: 680px;
    margin-bottom: 20px;

}
.hero-heading {

  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -0.005em;
  margin-bottom: 20px;
}
.hero-desc {
  
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  
  color: var(--primary-text-color);
}
