@font-face {
  font-family: "Netflix Sans";
  src: local("Netflix Sans"),
    url("../../assets/fonts/netflix-sans-font/NetflixSans-Bold.woff2")
      format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Netflix Sans";
  src: local("Netflix Sans"),
    url("../../assets/fonts/netflix-sans-font/NetflixSans-Light.woff2")
      format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Netflix Sans";
  src: local("Netflix Sans"),
    url("../../assets/fonts/netflix-sans-font/NetflixSans-Medium.woff2")
      format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Netflix Sans";
  src: local("Netflix Sans"),
    url("../../assets/fonts/netflix-sans-font/NetflixSans-Regular.woff2")
      format("truetype");
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 8px */
  padding: 12px 15px 0 10px;
  margin-bottom: 165px;
}
.logo {
  margin-left: 3%;
}
.btn {
  border: none;
  background: #e50914;
  color: #fff;
  font-family: "Netflix Sans";
  font-style: normal;
}
.header-btn {
  border-radius: 3px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 7px 16px;
}
